{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>classinfo</title>
    <link href="{% static 'css/app_statement.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/app_statement.js' %}"></script>
</head>
<body>

<div id="topsp"></div>

<span class="ti">班级出勤状况：</span><br/>
<div id="showtb">
    <form action="" method="post" id="xzxs">
        {% csrf_token %}
        <div id="stbc">
            <table class="kqtab">
                <tr>
                    <th>
                        <select class="bbxz" id="cc_1">

                            <option selected="selected">请选择课程</option>

                        </select>
                    </th>
                    <th>教师号</th>
                    <th>教师姓名</th>
                    <th>
                        <select class="bbxz" id="cc_2">

                            <option selected="selected">请选择学生学号</option>

                        </select>
                    </th>
                    <th>
                        学生姓名
{#                        <select class="bbxz" id="cc_3">#}
{##}
{#                            <option selected="selected">请选择学生姓名</option>#}
{##}
{#                        </select>#}
                    </th>

                    <th>
                        <select class="bbxz" id="cc_4">

                            <option selected="selected">请选择周数</option>

                        </select>
                    </th>
                    <th>
                        <select class="bbxz" id="cc_5">

                            <option selected="selected">请选择周几</option>

                        </select>
                    </th>
                    <th><select class="bbxz" id="cc_6">

                        <option selected="selected">请选择课数</option>

                    </select></th>
                    <th>
                        <select class="bbxz" id="cc_7">

                            <option selected="selected">请选择状态</option>

                        </select>
                    </th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div id="tbbu">
                <button class="btn btn-primary" type="button" id="nextpage1">上一页</button>
                <button class="btn btn-primary" type="button" id="lastpage1">下一页</button>
            </div>
            <div class="tbu" id="tbbu1" >
                <a href="{% url 'app_statement:show_printt' %}">打印报表</a>
            </div>

        </div>


    </form>

</div>

{#<div id="immg">#}
{#    <span class="ti">个人出勤状况图例：</span><br/><br/>#}
{#    <select class="bbxz" id="kc1">#}
{#        <option selected="selected">请选择课程</option>#}
{#    </select> <br/><br/>#}
{##}
{#    <div class="tuli">#}
{##}
{#    </div>#}
{#    <div class="tuli">#}
{##}
{#    </div>#}
{##}
{#</div>#}


</body>
</html>
